@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    background-color: #DADAE7;
}

.main-content {
    background-color: #ffffff;
    width: 1300px;
    height: 600px;
    margin: 0 auto;
}

.menu-bar {
    background-color: #AF0809;
}

.section-info {
    display: inline-flex;
    flex-wrap: wrap;
}

.left-info {
    background-image: url('/img/lost-V2.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 450px;
}

.right-info {
    width: 750px;
    height: 450px;
}

.footer-bar {
    background-color: #AF0809;
    margin-top: 50px;
}

.footer-list {
    display: inline-flex;
    flex-wrap: wrap;
}

ul li {
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
}
p {
    padding-top: 18px;
}
p, .highlight {
    font-family: 'Orelega One', cursive;
    font-size: 24px;
    color: #000000;
}
.style {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.btn {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    }
.btn-erase {
    margin-left: 20px;
}

a:visited, a:link, a:active {
    color: #000000
}